/* footer */
.wy-nav-content {
    position: relative;
    background-image: url("island.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 75%;
    min-height: 100vh;
  }
